

<div class='footer'>
    <div class='container mx-auto text-center font-bold text-white'>
      Projeto desenvolvido por:   Rogério Gomes 
      <a target="_blank" class='hover:underline' href='https://www.linkedin.com/in/rogeriogomes2009'>Linkedin</a>
      <a target="_blank" class='hover:underline' href='https://github.com/rogeriogomes2009'>GitHub</a>
      <div>
        <div class='mt-2'>
        <a><img class='inline p-4' src='/logo_semana_fsm.png'/></a>
        <Link href= 'http://www.devpleno.com'>
        <a target="_blank"><img class='inline p-4' src='/logo_devpleno.png' /></a>
        </Link>
              </div>
    </div>
  </div>

    </body>
    </html>