<%- include('header') %>
<form method="GET" action="/cotacao">
    <input name="cotacao" placeholder="Cotação dolar" value="<%= cotacao %>"><br/>
    Cotação do USDólar de Hoje
    <br>
    <p>
        
    </p>
    <input name="quantidade" placeholder="Quantidade de dolares"><br/>
    Digite sua Qtd de Dólares<br>
    <p>

    </p>
    <button>Converter!</button>
</form>
<%- include('footer') %>