<%- include('header') %>
<form method="GET" action="/cotacao">
    
    <input class="img-responsive rounded mx-auto d-block" 
           name="cotacao" 
           placeholder="Cotação dolar" 
           value="<%= cotacao %>"><br/>
    <p class="digite">Cotação do Dia || R$/USDólar hoje</p>

    <p>
        
    </p>
    <input class="img-responsive rounded mx-auto d-block"name="quantidade" placeholder="Quantidade de dolares"><br/>
<p class="digite">Digite sua Qtd de Dólares</p>
    <p>

    </p>
    <button id="btnConvert" class="img-responsive rounded mx-auto d-block">Converter!</button>
</form>
<%- include('footer') %>