body{
    text-align: center;
    background-size: cover;
    background-image: url(/images/background.png);
}
input{
    border: 4px solid #9f4e14;
    background: #b3d3e0;
    font-size: 20px;
    padding: 10px;
    margin: 4px;
    text-align: center;
}
button{
    border: 4px solid #0b24af;
    background: #81ebf3;
    font-size: 18px;
    padding: 4px;
}
.result{
    padding: 4px;
    border: 2px solid #000000;
    font-size: 24px;
    background: #fdfdfd;
}
.footer{
    padding: 12px;
    background:#333300;
    color: #383737;
}
.img-link{
    width: 50px;
}
.img-link2{
    width: 100px;
}
.img-link3{
    width: 55px;
}
.digite{
font-weight: bold;
text-align: center;
padding-top: 0px;
}
.text-nome{
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}